<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <!-- css -->
    <link rel="stylesheet" href="../public/assets/home.css" />
    <!-- font awesome -->
    <link rel="stylesheet" href="../public/assets/FontAwesome/css/all.css" />
  </head>
  <body>
    <!-- start of navbar -->
    <div class="navbar">
      <span class="picture">
        <a href="/user/home">
          <img src="../public/assets/images/logo.PNG" alt="Sluralpright" />
        </a>
      </span>
      <div class="nav-links-container">
        <a href="/user/home" class="nav-links">Home</a>
        <a href="/user/calendar" class="nav-links">Calendar</a>
        <div class="nav-links">
          <i class="fas fa-chevron-circle-down nav-links" id="dropdown-btn"></i>
        </div>
      </div>
    </div>
    <!-- end of navbar -->

    <!-- navbar dropdown -->
    <div id="dropdown-menu" class="dropdown">
      <div id="changepass-bar" class="bars">
        <h5>Change Password</h5>
        <i class="fas fa-exchange-alt nav-links"></i>
      </div>
      <div id="logout-bar" class="bars">
        <h5>Logout</h5>
        <i class="fas fa-sign-out-alt nav-links"></i>
      </div>
    </div>
    <!-- end of navbar dropdown -->

    <!-- start of the main display -->
    <div class="container">
      <div class="firstcolumn">
        <h1 class="welcome-msg">Welcome <span><%= firstName %></span></h1>
        <!-- Add friends -->
        <form action="" method="" id="friendform">
          <i id="toggle-btn" class="fas fa-location-arrow showform-btn"></i>
          <div id="smalltext" class="smalltext">
            Add <br />
            Friends
          </div>
          <h3>Add friends</h3>
          <input type="text" name="name" id="name" placeholder="add by name" />
          <h4>or</h4>
          <input type="text" name="id" id="id" placeholder="add by username" />
          <button type="submit" id="findfriends">Find friends</button>
        </form>
        <form
          id="showfriendform"
          action="/user/home/friends/addfriend"
          method="POST"
        >
          <div id="friendsDisplay"></div>
        </form>
      </div>
      <!-- End of add friends -->

      <!-- Displaying the friend you searched for -->
      <div class="listcolumn">
        <!-- End of friends display -->

        <!-- display box for schedule of friends -->
        <div id="schedule-display" class="">
          <h2>Choose a friend to display their schedule.</h2>
          <button class="scroll-btn">
            Friend's Schedule <i class="fas fa-location-arrow updown-btn"></i>
          </button>
        </div>
        <!-- end of display box for schedule of friends -->

        <!-- showing matching availabilities -->
        <div id="availabilities">
          <h3>Free to play as well!</h3>
          <button class="scroll-btn">
            Free to Play! <i class="fas fa-location-arrow updown-btn"></i>
          </button>
        </div>
        <!-- end of availability showcase -->

        <!-- Displaying list of added friends -->
        <div class="friendlist">
          <h3>Friend List</h3>
          <button class="scroll-btn">
            Friends List <i class="fas fa-location-arrow updown-btn"></i>
          </button>
          <% friendList.forEach((friend) => { %>
          <div class="friend-box">
            <img src="../public/assets/images/defaultdp.png" alt="" />
            <h4><%= friend.firstName %> <%= friend.lastName %></h4>
            <h5><%= friend.username %></h5>
            <button
              type="submit"
              id="<%= friend.username %>"
              class="avail-btns"
            >
              Show availability
            </button>
          </div>
          <% }) %>
        </div>
      </div>
      <!-- End of friend list display -->
    </div>
    <!-- javascript -->
    <script src="../public/assets/homepage.js"></script>
  </body>
</html>
